header {
    text-align: center;
    font-size: 80px;
    height: 250px;
    background-color: #428bca;
    border-radius: 5%;
}

.head {
    position: relative;
    top: 40px;
    color: #fff;
}


/* Buttons */
button {
    padding: 5px 10px;
    color: #fff;
}

.create {
    background-color: green;
}

.edit {
    background-color: orange;
}

.delete {
    background-color: red;
}


/* Dates */
main {
    padding-left: 25px;
}

.date {
    width: 200px;
    height:150px;
    border:1px solid #000;
    display: inline-block;
    margin: 5px 0 0 0;
}
