* {
    font-family: 'Courier New', Courier, monospace;
}

header {
    text-align: center;
    font-size: 80px;
    height: 250px;
    margin: 15px;
    background-color: #428bca;
    border-radius: 5px;
}

.head {
    position: relative;
    top: 40px;
    color: #fff;
}


/* Buttons */
button {
    padding: 5px 10px;
    color: #fff;
}

.create {
    background-color: green;
}

.edit {
    background-color: orange;
}

.delete {
    background-color: red;
}


/* Days of the week */
nav {
    padding: 5px 0 0 35px;
}

.days {
    width: 220px;
    height: 100px;
    display: inline-block;
    background-color: #428bca;
    color: #fff;
    margin-left: 2px;
}

.day {
    text-align: center;
    padding-top: 30px;
    font-size: 24px;
    font-weight: bold;
}


/* Dates */
main {
    padding-left: 35px;
}

#date {
    width: 220px;
    height:150px;
    border:1px solid #000;
    display: inline-block;
    margin-top: 5px;
}

#date .num{
    padding: 5px 0 0 5px;
    font-size: 20px;
    font-weight: bold;
}
